
html, body, hr, header, footer, p, nav{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.container-fluid2{
	width:85% !important;
	}
	

.align-left{
	text-align:left !important;
	}
.text-sizeS{
	font-size:1em !important;
	}
.text-sizeM{
	font-size:1.5em !important;
	}
.text-zizeL{
	font-size:2em !important;
	}
.inner-wrap{
	width:60% !important;
	}
	
.bg-color{
		background-color:#f7f7f7;
	}

.align{
	display: table-cell;
	}

.active-link{
	color:red;
}

section{
    width:100%;
    clear:both;
}
hr{
	height:5px;
	clear:both;
	background-color:#005596;
	}

header{
	/*background-color:#0068ff;*/
    clear:both;
    width:100%;
    overflow:hidden;
    margin-top: 0;
   
}

.active-link{
	color:red;
}

#logo{
    float:left;
    width:20%  
}

#logo img{
    height:60px;
    width:200px;
    
}


a{
    text-decoration:none;
    color:black;
}

ul.nav a:hover { background-color:transparent !important;color:blue !important; text-decoration:none !important;}
ul.nav a:focus { background-color:transparent !important; }
ul.nav a:active { background-color:transparent !important; color:red !important; text-decoration:underline;}


#social img{
	display:inline;
	width:20px;
	height:20px;
	margin-top:5px;
	}

	
#heroArea{
    width:100%;
	color:white;
	display:table-row;
	clear:both;
	background-color:#005596;
	padding-top:5px;
	}
	
#jumboL{
	width:40%;
	float:left;
	}
	
#jumboR{
	float:right;
	width:60%;
	background-image:url(../images/jumboR.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	max-width:100%;
	max-height:100%;
	
	}
.join{
	padding:20px 0;
	height:150px;
	
	}
.form-inline{
	text-align:center;
	}
#exampleInputEmail2{
	width:300px;
	}

#heading{
	background-color:#085a9b;
	height:50px;
	color:white;
	}
#eventsNews{
	background-color:#DADADA;
	
	}
#events iframe{
	width:70%;
	height:75vh;
	
	padding:10px 20px;
	overflow:hidden;
	}
	
#news iframe {
	width:100%;
	height:75vh;
	float:left;
	margin:10px 0; 
	overflow:hidden;
	
	
	}

#stories iframe{
	width:100%;
	height:100%;
	}


#projects{
    width:100%;
   text-align:center;
	padding:50px 0 50px 0;
    clear:both;
    background-color:#f7f7f7;
    
}


#projects img{
    border-radius:10px;
    width:400px;
    height:300px;
}

#about{
	margin:10px 0;
	}
#about span{
    font-weight:bold;
    font-size:1.2em;
}


.current-members{
	border-right:solid #717171 3px;
	}
	
/*.bio{
    	margin:20px 15px;
    	width:30%;
    	padding-top:5px;
    	display:table-cell;
}*/

.pic{
    width:100px;
    height:100px;
    border-radius:100%;
   box-shadow: 5px 5px 5px #ccc;
}
.linkedin{
    width:40px;
    height:30px;
    text-align:center;
}
footer{
     width:100%;
     background-color:#0068ff;
     height:auto;
     color:#fff;
     font-size:1em;
     clear:both;
	 margin:0;
}


footer .container{
    padding-top:10px;
    padding-bottom:0;
}
#social{
    margin:0 auto;
    padding-top:10px;
    float:right;
}

#email{
    float:right;
}

#up{
    float:right;
    margin-right:0;
}






















